<!-- confirm_delete.html -->

{% extends "master.html" %}

{% block title %}Delete Book{% endblock %}

{% block content %}
<div class="container">
    <h1 class="welcome-title">Delete Book: {{ book.book_name }}</h1>
    <p>Are you sure you want to delete this book?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="button button-delete">Confirm Delete</button>
        <a href="{% url 'books' %}" class="button">Cancel</a>
    </form>
</div>
{% endblock %}